/* ========================== RIGHT =============================== */
main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-primary);
}

.right .messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
}

.right .message .profile-photo {
  position: relative;
  overflow: visible;
}

.right .profile-photo img {
  border-radius: 50%;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ================= FRIEND REQUESTS =================== */
.right .friend-requests {
  margin-top: 1rem;
}

.right .friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}

/* ======================== THEME CUSTOMIZATION ========================== */
.customize-theme {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  display: none;
}

.customize-theme .card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50vw;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
